/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Nov, 2022, 12:53:47 AM
    Author     : Kalyani
*/
body{
    
background-image:url(Malta.jpg);
background-size: 100%;
}
h1{
    font-family: arial;
    color:#A10035;
   background-color: white;
}


